<form formGroup="formGroup">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
      <label>Nome</label>
      <input id="input" type="text" size="30" pInputText placeholder="Digite o nome"> 
    </div>
    <div class="ui-g-12 ui-md-4">
      <label>Sobrenome</label>
      <input id="input" type="text" size="30" pInputText placeholder="Digite o sobrenome"> 
    </div>
    <div class="ui-g-12 ui-md-4">
      <label>Idade</label>
      <p-spinner [min]="0" placeholder="Digite a idade"></p-spinner>
    </div>
    <div class="ui-g-12 ui-md-4">
      <label>Data de nascimento</label>
      <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [locale]="locale"></p-calendar>
    </div>
  </div>
</form>